@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html{
    width:100%;
    height: 100%;
  }
  #app{
    width:100%;
    height: 100%;
  }
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
  body{
    margin:0;
    height:100%;
  }

}

.editor-drawing-container {
  display: flex;
  flex-direction: row;
}

.editor-drawing-container div {
  border: 2px solid;
  border-radius: 5px;
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}

.editor-drawing-container button {
  margin-left: 5px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
 background-color:white ;
}

.editor-drawing-container button:hover {
  background-color:#EEEEEE ;
 }.editor-drawing-container button:active {
  background-color:#E2DAD6  ;
 }